#tamLogo {
    width: 55px;
    height: auto;
    margin-right: 10px;
    margin-top: 2px;
}

html body {
    background-color: #f8f1e9;
}

#botaoNav {
    border-color: #BC8A5F;
    border-style: double;
    border-radius: 6px;
    color: #BC8A5F;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}

#botaoNav:hover {
    background-color: #BC8A5F;
    border-color: #BC8A5F;
    border-style: double;
    color: #2C1B18;
}

#bordeBanner {
    border-radius: 0%;
    height: 555px;
}


br {
    background-color: #f8f1e9;
}

#espacoDiferencias {
    margin-top: 100px;
}

#card {
    margin-left: 11%;
    margin-top: 100px;
}

#tamLogoFooter {
    width: 53px;
    height: auto;
}

